*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;

}

img{
    width: 100vw;
    height: 100vh;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after{
    color:rgb(27, 125, 238);
    font-size: 60px;
}

.image-slider .swiper-pagination{
    bottom: 20px;
}

